# Ignorar dependencias y builds
node_modules/
dist/
# Angular build artifacts
frontend/dist/
frontend/node_modules/

# NestJS build artifacts
backendd/node_modules/
backendd/dist/
# En .gitignore:
backendd/dist/

backendd/dist/app.module.d.ts
backendd/dist/app.module.js
backendd/dist/config/configuration.d.ts
backendd/dist/config/configuration.js
backendd/dist/main.d.ts
backendd/dist/main.js
backendd/dist/modules/encuestas/controllers/encuestas.controllers.d.ts
backendd/dist/modules/encuestas/controllers/encuestas.controllers.js
backendd/dist/modules/encuestas/dtos/create-encuesta.dto.d.ts
backendd/dist/modules/encuestas/dtos/create-encuesta.dto.js
backendd/dist/modules/encuestas/dtos/create.opcion.dto.d.ts
backendd/dist/modules/encuestas/dtos/create.opcion.dto.js
backendd/dist/modules/encuestas/dtos/create.pregunta.dto.d.ts
backendd/dist/modules/encuestas/dtos/create.pregunta.dto.js
backendd/dist/modules/encuestas/dtos/obtener-encuesta.dto.d.ts
backendd/dist/modules/encuestas/dtos/obtener-encuesta.dto.js
backendd/dist/modules/encuestas/encuestas.module.d.ts
backendd/dist/modules/encuestas/encuestas.module.js
backendd/dist/modules/encuestas/entities/encuestas.entity.d.ts
backendd/dist/modules/encuestas/entities/encuestas.entity.js
backendd/dist/modules/encuestas/entities/opcion.entity.d.ts
backendd/dist/modules/encuestas/entities/opcion.entity.js
backendd/dist/modules/encuestas/entities/pregunta.entity.d.ts
backendd/dist/modules/encuestas/entities/pregunta.entity.js
backendd/dist/modules/encuestas/enums/codigo-tipo.enum.d.ts
backendd/dist/modules/encuestas/enums/codigo-tipo.enum.js
backendd/dist/modules/encuestas/enums/tipos-respuesta.enum.d.ts
backendd/dist/modules/encuestas/enums/tipos-respuesta.enum.js
backendd/dist/modules/encuestas/services/encuestas.services.d.ts
backendd/dist/modules/encuestas/services/encuestas.services.js
backendd/dist/modules/respuestas/controllers/respuesta.controller.d.ts
backendd/dist/modules/respuestas/controllers/respuesta.controller.js
backendd/dist/modules/respuestas/dtos/crear-respuesta.dto.d.ts
backendd/dist/modules/respuestas/dtos/crear-respuesta.dto.js
backendd/dist/modules/respuestas/dtos/estadisticas-response.dto.d.ts
backendd/dist/modules/respuestas/dtos/estadisticas-response.dto.js
backendd/dist/modules/respuestas/dtos/respuesta-response.dto.d.ts
backendd/dist/modules/respuestas/dtos/respuesta-response.dto.js
backendd/dist/modules/respuestas/entities/respuesta-abierta.entity.d.ts
backendd/dist/modules/respuestas/entities/respuesta-abierta.entity.js
backendd/dist/modules/respuestas/entities/respuesta-opcion.entity.d.ts
backendd/dist/modules/respuestas/entities/respuesta-opcion.entity.js
backendd/dist/modules/respuestas/entities/respuesta.entity.d.ts
backendd/dist/modules/respuestas/entities/respuesta.entity.js
backendd/dist/modules/respuestas/respuestas.module.d.ts
backendd/dist/modules/respuestas/respuestas.module.js
backendd/dist/modules/respuestas/services/respuestas.service.d.ts
backendd/dist/modules/respuestas/services/respuestas.service.js
backendd/dist/tsconfig.build.tsbuildinfo
frontend/angular.json
frontend/package-lock.json
frontend/package.json